/**
 * mixin.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Oct 13, 2017
 */

@mixin image-bg($image: '../../assets/bg_dot.png') {
  background: {
    image: url($image);
    color: rgba(0, 0, 0, 0.02);
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
}

@mixin text-clamp($line: 2) {
  word-break: break-all;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
